<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PM</title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body class="container">

	<div class="page-header">PM - app ( Express + Mongo )</div>
	<a href="product-form.html" class="btn btn-primary">Add New</a>
	<hr/>
	
	All Products <hr/>
	
	
	
     		   <table class="table table-bordered">
     			<% 
     			if(allProducts!==null){
     			
     				allProducts.forEach(function(product){ 
     			
     			%>
     			
     			<tr>
     				<td><%=product.id%></td>
     				<td><%=product.name%></td>
     				<td><%=product.price%></td>
     				<td><%=product.description%></td>
     				<td>
	     				<form method="GET" action="products/<%=product.id%>">
	  						<button type="submit">edit</button>
						</form>
     				</td>
     				<td>
	     				<form method="POST" action="products/<%=product.id%>?_method=DELETE">
	  						<button type="submit">delete</button>
						</form>
     				</td>
     			</tr>
     			
     			<% 
     			
     			});
     			
     			}
     			%>
     			<table>
	

</body>
</html>